*{
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: darkslategrey;
    background-size: cover;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main-content{
    width: 100%;
    height:450px;
}
h1{
    font-weight: lighter;
    margin-top: 2%;
    margin-left: 12%;
    margin-right: 12%;
    width: 100%;
    font-size: x-large;
}
.form__subtitulo{
    font-weight: lighter;
    color: white;
    padding-top: 1%;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 0%;
    text-align: center;
    line-height: 5%;
    font-size: 120%;
    color: whitesmoke;
}
select{
    font-weight: lighter;
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    width: 45%;
    font-size: 130%;
    text-align: justify;
}
#datos{
    font-weight: lighter;
    margin-top: 1%;
    margin-left: 5%;
    width: 50%;  
    float: left;
    width: 45%;
    font-size: 120%;
    text-align: justify;
}
#genero{
    margin-top: 1%;
    margin-left: 0%;
    float: left;
    width: 42%;
    font-size: 120%;
    text-align: justify;
    border-radius: 5px;
}
.texto{
    font-weight: lighter;


}
#eps{
    margin-top: 1%;
    margin-left: 6%;
    float: left;
    width: 42%;
    font-size: 120%;
    text-align: justify;
    border-radius: 5px;
} 
.imagen{   
    margin-top: 1%;
    margin-right: 5%;
    float: right;
    width: 45%;
    height:380px;
    background-color: whitesmoke;
}

.forma-control{
    background-color: whitesmoke;
    width: 90%;
    height: 35px;
    margin-left: 0%;
    margin-top: 1%;
    font-size: 100%;
    border: 0;
    padding-left: 5%;
    border-radius: 5px;
}
.btn{
    margin-top: 3%;
    margin-left: 22%;
    margin-right: 22%;
    width: 40%;
}
